p{
    font-size:x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#webcam, #result{
    border-width: 5px;
    border-style: dashed;
    width: 480px;
    height: 360px;
}
