#heading{
    width:100%;
    background-color:rgb(117, 99, 0);
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgb(21, 0, 0);;
}

.g{
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color:rgb(117, 99, 0);
}

body{
    background-color: rgb(21, 0, 0);
}

hr{
    width: 100%;
    line-height: 15px;
}

p, h2, h3{
    color: white
}

#webcam, #cap{
    width: 480px;
    height: 360px;
    border: 5px;
    color:rgb(117, 99, 0);
    margin-bottom: 20px;
    border-style: dashed;
}
